<!DOCTYPE html>
<html>

<head>
  <title>Chat App</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  <script type="text/javascript">
    var socket = io.connect('https://' + document.domain + ':' + location.port);
    console.log("Socket at: " + 'https://' + document.domain + ':' + location.port);

    socket.on('message', function (data) {
      var p = document.createElement('p');
      p.innerHTML = data;
      document.getElementById('chat').appendChild(p);
    });

    socket.on('update_clients_count', function (count) {
      document.getElementById('clientsCount').innerHTML = count;
    });

    function sendMessage() {
      var message = document.getElementById('message').value;
      socket.emit('message', message);
      document.getElementById('message').value = '';
    }
  </script>
</head>

<body>
  <h1>Chat App</h1>
  <div id="chat"></div>
  <table>
    <tr>
      <th>Connected Clients Count:</th>
      <td id="clientsCount">{{ connected_clients }}</td>
    </tr>
  </table>
  <input type="text" id="message" placeholder="Type a message..." />
  <button onclick="sendMessage()">Send</button>
</body>

</html>